/* Zachery Morris and Katharina Kemper */
.text-edit1 {
  font-weight: 700;
  
  color: rgb(11,63,114);
}

.text-edit2 {
  font-weight: 700;
  font-style: italic;
  color: rgb(11,63,114);
}

.nav-item a:hover {
  color: rgb(47, 241, 255) !important;
  cursor: pointer;
}

.card{
height: 425px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
border-width: 2px !important;
border-color: rgba(255, 255, 255, 0.527) !important;
background-color: rgba(255, 255, 255, 0.700) !important;
opacity: 75;
}

.back{
  background: url(http://localhost/CS4640-ztm4qv-kk6ev-project/images/rotunda4.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #343A40;
  color: white;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  letter-spacing: 5px;
}