/* Zachery Morris and Katharina Kemper */
.text-edit1 {
    font-weight: 700;
    color: rgb(11,63,114);
}

.text-edit2 {
    font-weight: 700;
    font-style: italic;
    color: rgb(11,63,114);
}

.card{
height: 425px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
border-width: 2px !important;
border-color: rgba(255, 255, 255, 0.527) !important;
background-color: rgba(255, 255, 255, 0.700) !important;
}

html, body{
    background: url(http://localhost/CS4640-ztm4qv-kk6ev-project/images/rotunda3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

label { display: block; }
input, textarea, button {
  display:inline-block;
  font-family:arial;
  margin: 5px 10px 5px 40px;
  padding: 8px 12px 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 90%;
  font-size: small;
}
div {
  margin-left: auto;
  margin-right: auto;
  width: 60%;  
}
h1 { text-align: center; }    

button[type=submit] {
  padding:5px 15px; 
  background:#ccc; 
  border:0 none;
  cursor:pointer;
  border-radius: 5px; 
}

button[type=submit]:hover {
  background-color: #ccceee;
}

.msg {
  margin-left:40px;
  font-style: italic;
  color: red;
}
