<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Guiding the Hoos</title>

  <link rel="stylesheet" type="text/css" href="./css/style-sheet.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">    
  <link rel="stylesheet" type="text/css" href="/css/style-sheet.css">
</head>

<body>
  <nav class="navbar fixed-top navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <div class="nav navbar-nav navbar-left">
        <a class="navbar-brand" id="title" href="homepage-after-login.html">
            <img src="../images/small-logo.png" id ="title" height="30" class="d-inline-block align-top" alt=""></a>
          <li class="nav-item">
            <a class="nav-link" href="">Study Spots</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Food Places</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Organizations</a>
          </li>
        </div>
      <div class="nav navbar-nav navbar-right">
        <form action="" method = "GET" style="padding-right: 10px">
            <input width=align="right" class="form-control" type ="text" name= 'q' placeholder="Search..." value = "">
        </form>
          <li class="nav-item">
            <a class="nav-link" href="">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../index.html" onclick="signOut();">Sign out</a>
          </li>
      </div>
    </div>
  </nav>
  
<body class="back">
  <br><br>
      <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-body">
                <div style="text-align: center; padding-top:20%;">
                  <p class="text-edit1">Welcome to Guiding the Hoos!</p>
                  <p class="text-edit1">The navigation bar at the top showcases Study Spots, Organizations, and Food Spots around Grounds!</p>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>